/*------Containers------*/
.left-loop-tab-section-container {
    margin: 0px;
    width: 260px;
    height: 65px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 1px solid rgba(135, 155, 226, 0.25);
}

.left-row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    margin: 4px;
    margin-top: 2px;
}

.left-tab-section-container {
    margin: 0px;
    width: 260px;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-right: 1px solid rgba(135, 155, 226, 0.25);
    border-bottom: 1px solid rgba(135, 155, 226, 0.25);
    border-top: 1px solid rgba(135, 155, 226, 0.25);
}

.left-tab-left-inner-section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 100px;
    gap: 2px;
}

.left-tab-right-inner-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    width: 160px;
    height: 100px;
    gap: 3px;
}

.loop-container {
    height: 65px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(135, 155, 226, 0.25);
    position: relative;
}

.offset-beats-container{
    flex-direction: row;
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    text-align: left;
    padding: 0px 2px 2px 5px;
    width: 100%;
}

.pitch-offset-beats-container{
    flex-direction: column;
    display: flex;
    justify-content: center; 
    align-items: flex-end; 
    background-color: #344079;
    border: 1px solid #435199;
    border-radius: 4px;
    width: 150px;
    height: auto;
}

.pitch-container{
    flex-direction: row;
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    text-align: right;
    padding: 2px 2px 0px 5px;
    width: 100%;
}

.track-container {
    overflow-y: auto; 
    /*full_screen_height - top_container_height + 2*rightANDleft_container_padding - loop container height -1px_padding*/
    max-height: calc(100vh - (60px + 2*0.8vw) - 65px - 1px);
    position: relative;
}

div.track-waveform {
    height: 100%;
    width: 100%;
}
.playhead {
    width: 2px;
    background-color: yellow;
    position: absolute;
    z-index: 999;
    top: 0px;
    bottom: 0px;
    left: 120px;
}

.track-tabs-container {
    height: 100px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(135, 155, 226, 0.05);
    position: relative;
}

/*------Fonts; Texts------*/
.offset-beats-text {
    font-size: 13px;
    color: #f0f0f3;
}

.decrease-button{
    color: #f0f0f3;
    background: transparent;
    border: transparent;
    padding-left: 3px;
}

.decrease-button:hover{
    color: #f0f0f3a6;
}

.increase-button{
    color: #f0f0f3;
    background: transparent;
    border: transparent;
}

.increase-button:hover{
    color: #f0f0f3a6;
}

.loop-period-text {
    font-size: 14px;
    color: #f0f0f3;
}

.pitch-text {
    font-size: 13px;
    color: #f0f0f3;
}

.track-text {
    font-size: 14px;
    color: #f0f0f3;
}

/*------Buttons------*/

.copy-button {
    font-size: 13px;
    width: 25px; 
    height: 25px;
    color: #a7aed0;
    border: transparent;
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copy-button:hover {
    background-color: #283367;
}

.left-mute-icon-button {
    font-size: 13px;
    width: 25px; 
    height: 25px;
    color: #a7aed0;
    border: transparent;
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-mute-icon-button:hover {
    background-color: #283367;
}

.pitch-button:hover {
    background-color: #283367;
}

.pitch-button:hover .loop-text {
    color: #a7aed0;
}

.trash-button {
    font-size: 13px;
    width: 25px; 
    height: 25px;
    color: #a7aed0;
    border: transparent;
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trash-button:hover {
    background-color: #cc0000;
    color: #f0f0f3;
}
/*------Inputs------*/
.track-name-input{
    width: 100px;
    height: 14px;
    background-color: transparent;
    font-size: 12px;
    color: #404353;
    text-align: center;
    border: 1px rgba(135, 155, 226, 0.04);
}
/*------Etc.------*/

/*for plot background*/
.nsewdrag.drag{
    fill: #12141e !important
}
