/*------Containers------*/
.app-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #0e0f16;
}

.bottom-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-color: #0e0f16;
}

.left-container{
    width: 88%;
    /*full_screen_height - top_container_height + 2*rightANDleft_container_padding*/
    height: calc(100vh - (60px + 2*0.8vw));
    margin: 0.8vw;
    border-radius: 5px;
    background-color: rgba(135, 155, 226, 0.04);
    border: 1px solid rgba(135, 155, 226, 0.25);
    flex-direction: column;
}

.right-container{
    width: 15%;
    /*full_screen_height - top_container_height + 2*rightANDleft_container_padding*/
    height: calc(100vh - (60px + 2*0.8vw));
    margin: 0.8vw;
    margin-left: 0px;
    border-radius: 5px;
    background-color: rgba(135, 155, 226, 0.04);
    border: 1px solid rgba(135, 155, 226, 0.25);
}

.top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: rgba(135, 155, 226, 0.04);
    border-bottom: 1px solid rgba(135, 155, 226, 0.25);
    flex-shrink: 0; 
}


/*------Fonts; Texts------*/

/*------Buttons------*/

/*------Inputs------*/

/*------Scroll Bar Design------*/
::-webkit-scrollbar{
    width: 15px;
    border-radius: 0px;
    background-color: rgba(14, 15, 22, 0.95);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(129, 129, 129, 0.2);
}

/*------Etc.------*/
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%
} 
